<div *ngIf="isScheduled">
  The contest date is
  <uhunt-timer [timestamp]="contest.start_ts"
               [adjuster]="contestService.remote_adjuster"></uhunt-timer>
</div>

<div *ngIf="isCountingDown">
  The contest will start in
  <uhunt-timer [timestamp]="contest.start_ts"
               [adjuster]="contestService.remote_adjuster"></uhunt-timer>
</div>

<div *ngIf="isStarting">
  Starting, please wait ... 
</div>

<div *ngIf="isRunning" style="width: 965px">
  <h1>
    <a style="float:right" target="_blank"
       href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&
  Itemid=25&page=submit_problem">Quick Submit</a>
    {{ contest.name || 'UVa Virtual Contest' }}
  </h1>

  <uhunt-submissions dbname="vcontest_livesubs"
    [user]="user"
    [submissions]="live_submissions.submissions">
  </uhunt-submissions>

  <table style="border: 1px solid #AAA; margin-bottom:15px">
  <thead>
    <tr class="tablebar">
      <th align="left" height="25" style="padding-left:10px"
         [attr.colspan]="3 + contest.problems.length">
        <span style="float:right; margin-right:10px; font-weight:normal">
          {{contest_status}}
          <uhunt-timer style="color: yellow"
            *ngIf="contest.start_ts > config.now && contest.end_ts < config.now"
            [timestamp]="contest.end_ts"
            [adjuster]="contestService.remote_adjuster">
          </uhunt-timer>
        </span>
        <a style="text-decoration:none; color:white">Contest Ranklist</a> 

        &nbsp; &nbsp;
        <input (click)="toggle_include_past_subs()"
                type="checkbox" [attr.checked]="include_past_subs">
        <a style="text-decoration:none; color:white; font-weight:normal;">
          past submissions
        </a>

        &nbsp; &nbsp;
        <input (click)="toggle_shadows()"
                type="checkbox" [attr.checked]="include_shadows">
        <a style="text-decoration:none; color:white; font-weight:normal;">
          shadow users
        </a>
      </th>
    </tr>

    <tr class="tablesubar">
      <th width="45" align="left">&nbsp; #</th>
      <th width="170" align="left">&nbsp; Author Name</th>
      <th width="{{width}}" *ngFor="let p of contest.problems">
        <a class="nou" target="_blank"
           href="{{config.problem_pdf_link(p)}}">{{p.number}}</a>
      </th>
      <th width="{{width}}">AC/Time</th>
    </tr>
  </thead>

  <tbody class="alt_colors">
    <tr *ngFor="let a of contest.author_ranklist; let i = index"
        [style.font-weight]="(contest.is_contestant(a.user.id)
                             && include_shadows)? 'bold' : ''">
      <td class="rank">{{ i + 1 }}</td>
      <td style="padding-left:5px" nowrap>
        <a class="ellipsis" target="_blank" href="/id/{{a.user.id}}"
          style="margin-left:5px; width:170px">
            {{a.user.name + ' (' + a.user.username + ')' }}
        </a>
      </td>
      <td *ngFor="let s of a.problems_status" class="problem">
           {{ (!s)? '&nbsp;' :
              (!s.ac)? ('(' + s.nos + ') --:--') :
              (s.nos)? ('(' + s.nos + ') ' + format_sub(s.sbt)) :
              format_sub(s.sbt)}}
      </td>
      <td align="center" nowrap>
        <b>{{ a.solved }}</b> / {{ format_sub(a.penalty) }}
      </td>
    </tr>
  </tbody>
  </table>
</div>
