<uhunt-chat-box width="550" height="245" style="float:right; padding-left:25px"
   [user]="user">
</uhunt-chat-box>
<uhunt-logo active="codereview" [user]="user"></uhunt-logo>

<p>
  <a class="nou" [routerLink]="['/CodeReview']">&lt; Back</a>
</p>

<p>
<a style="color:blue; cursor: pointer;" (click)="toggle_statistics()">
  View Problem 100 Statistics
</a>
</p>

<br style="clear:both" />

<center *ngIf="show_statistics">
  <uhunt-problem-statistics
    [user]="user"
    [problem]="code_review.problem"
    (hideChange)="show_statistics=false">
  </uhunt-problem-statistics>
</center>

<uhunt-submissions dbname="code_review"
  [user]="user"
  [submissions]="submissions">
</uhunt-submissions>

<h2>
  Reviewing 
  <a class="nou" target="_blank" href="/id/{{code_review.user.id}}">
    {{code_review.user.username}}</a>'s code for problem
  <a class="nou" target="_blank"
     href="{{config.problem_pdf_link(code_review.problem)}}">
       {{code_review.problem.number}}</a> -
<div style="width:300px; display: inline-block;">
  <uhunt-problem [problem]="code_review.problem" width="300"></uhunt-problem>
</div>
</h2>

<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th style="border: 1px solid black">Version 2:</th>
  <th></th>
  <th style="border: 1px solid black">Version 4:</th>
</tr>
<tr>
  <td>
    <table width="475" border="0" cellspacing="0">
      <tr *ngFor="let line of a_lines; let i = index"
          style="background-color: {{i == 18 ? 'lime': ''}}">
        <td class="linenumber" valign="top">{{i + 1}}</td>
        <td class="code">{{line}}</td>
      </tr>
    </table>
  </td>
  <td width="20"></td>
  <td>
    <table width="475" border="0" cellspacing="0">
      <tr *ngFor="let line of a_lines; let i = index">
        <td class="linenumber" valign="top">{{i + 1}}</td>
        <td class="code">{{line}}</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <th style="border: 1px solid black">Version 2:</th>
  <th></th>
  <th style="border: 1px solid black">Version 4:</th>
</tr>
</table>

Comments:

Version 3 :: Line 3 
