<h2 align="center">Next Problems to Solve</h2>

<p>
You can view your unsolved/solved problems, sort them, filter by volume, etc.
If you just want to solve as many problems as quickly as possible, it's
convenient to pick problems according to the <b>dacu</b> (distinct accepted
users) in descending order. The bigger the <b>dacu</b> the easier the problem
should be and the more probable it will appear in the <a target="_blank"
href="http://uva.onlinejudge.org/board/">UVa discussion board</a>.
The "solved view" sorted on the "diff" column shows your solved problems ordered
by the runtime difference with the fastest solution (i.e., how far is the room
for improvement can be made to your code). It will be fun tweaking your code as
it may requires a whole different algorithm to make a big runtime improvement.
</p>

<table align="center">
  <tr>
    <td valign="top">
      <table border="0" cellspacing="0" cellpadding="0"
             style="border: 1px solid #AAA">
        <thead>
          <tr class="tablebar" height="25" style="color:white">
            <th align="left" style="padding-left:10px"
               [attr.colspan]="view_which == 0 ? 8 : 11">
              <tt style="float:right">Show : [
                <a style="cursor:pointer;"
                  [class.lightgreen-color]="max_next_problems==25"
                  [class.white-color]="max_next_problems!=25"
                  (click)="set_max_next_problems(25)">25</a> |
                <a style="cursor:pointer;"
                  [class.lightgreen-color]="max_next_problems==50"
                  [class.white-color]="max_next_problems!=50"
                  (click)="set_max_next_problems(50)">50</a> |
                <a style="cursor:pointer;"
                  [class.lightgreen-color]="max_next_problems==100"
                  [class.white-color]="max_next_problems!=100"
                  (click)="set_max_next_problems(100)">100</a>
              ]&nbsp;</tt>
              <tt style="float:right">View : [
                <span class="np_view" (click)="set_which(0)"
                     [class.lightgreen-color]="view_which==0"
                     [class.white-color]="view_which!=0"
                      style="cursor:pointer">unsolved</span> |
                <span class="np_view" (click)="set_which(1)"
                     [class.lightgreen-color]="view_which==1"
                     [class.white-color]="view_which!=1"
                      style="cursor:pointer">solved</span> |
                <span class="np_view" (click)="set_which(2)"
                     [class.lightgreen-color]="view_which==2"
                     [class.white-color]="view_which!=2"
                      style="cursor:pointer">both</span>
              ] &nbsp;</tt>
              Volume : {{volume == 0 ? 'ALL' : ('v' + volume)}}
            </th>
          </tr>
          <tr class="tablesubar" height="22">
            <th width="35">No</th>
            <th width="65" (click)="sort_next_by('number')"
              style="cursor:pointer">Number</th>
            <th width="280" (click)="sort_next_by('title')"
              style="cursor:pointer" align="left">&nbsp; Problem Title</th>
            <th width="55" (click)="sort_next_by('submissions_count')"
              style="cursor:pointer">nos</th>
            <th width="55" (click)="sort_next_by('accepted_count')"
              style="cursor:pointer">anos</th>
            <th width="55" (click)="sort_next_by('panos')"
              style="cursor:pointer">%anos</th>
            <th width="55" (click)="sort_next_by('distinct_accepted_user')"
              style="cursor:pointer">dacu</th>
            <th width="55" (click)="sort_next_by('best_runtime')"
              style="cursor:pointer">best</th>
            <th [hidden]="view_which==0" width="55"
              (click)="sort_next_by('run')" style="cursor:pointer">yours</th>
            <th [hidden]="view_which==0" width="55"
              (click)="sort_next_by('diff')" style="cursor:pointer">diff</th>
            <th [hidden]="view_which==0" width="55"
              (click)="sort_next_by('rank')" style="cursor:pointer">rank</th>
          </tr>
        </thead>
        <tbody class="alt_colors">
          <tr *ngFor="#p of ((volume == 0) ? volume_all : volumes[volume])
                      | filterByView:view_which
                      | sortByColumn:sort_column:sort_desc
                      | slice:0:max_next_problems;
                      #i = index" height="17">
            <td align="center">{{i + 1}}</td>
            <td align="center"
                style="background-color:{{column_color('number',i)}}">
              <a class="{{p.problem.getClass(user)}}" target="_blank"
                 href="{{config.problem_pdf_link(p.problem)}}">
                   {{p.problem.number}}</a>
            </td>
            <td style="background-color:{{column_color('title',i)}}">
              <uhunt-problem [problem]="p.problem" width="280"></uhunt-problem>
            </td>
            <td align="center" style="background-color:{{column_color(
              'submissions_count',i)}}">{{p.problem.submissions_count}}</td>
            <td align="center" style="background-color:{{column_color(
              'accepted_count',i)}}">{{p.problem.accepted_count}}</td>
            <td align="center" style="background-color:{{column_color(
              'panos',i)}}">{{p.problem.getPercentAccepted() + '%'}}</td>
            <td align="center" style="background-color:{{column_color(
              'distinct_accepted_user',i)}}">
                {{p.problem.distinct_accepted_user}}</td>
            <td align="center" style="background-color:{{column_color(
              'best_runtime',i)}}">
              <a class="nou" target="_blank"
                 href="{{config.problem_ranklist_link(p.problem)}}">
                  {{math.min(p.problem.best_runtime, p.mrun) * 1e-3
                    | number:'1.3-3'}}
              </a>
            </td>
             <td *ngIf="view_which!=0" align="center"
                style="background-color:{{column_color('run',i)}}">
                  {{!p.ac ? '-' : config.format_ms(p.mrun)}}
            </td>
            <td *ngIf="view_which!=0" align="center"
                style="background-color:{{column_color('diff',i)}}">
                  {{!p.ac ? '-' : config.format_ms(
                  p.diff_with_best_runtime())}}</td>
            <td *ngIf="view_which!=0" align="center"
                style="background-color:{{column_color('rank',i)}}">
                  {{!p.ac ? '-' : p.rank}}</td>
           </tr>
        </tbody>
      </table>
    </td>
    <td valign="top" style="padding-left:15px; margin:0px; padding-top:0">
      <table cellspacing="0" cellpadding="0"
             style="width:120px; border: 1px solid #AAA;">
        <thead>
          <tr class="tablebar" height="25" style="color:white">
            <th colspan="3">Volumes</th>
          </tr>
        </thead>
        <tbody class="selectable-table">
          <tr *ngFor="#v of volume_bars" style="cursor:pointer"
              (click)="set_volume(v.index)"
              [class.volume-selected]="v.index==volume">
            <td width="55" align="center">{{v.name}}</td>
            <td width="35">
              <uhunt-bar [percent]="v.percentage" color="green"
                          width="30" height="10"></uhunt-bar>
            </td>
            <td width="30" align="right">
              <tt style="margin-right:5px">{{v.percentage}}%</tt>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
