<form (submit)="search()">
  <p>Search Problem Number:
  <input [(ngModel)]="search_number" (keyup)="search()" value="123" style="width:60px">&nbsp;
  <input type="submit" value="Search">
  <button (click)="search_number=''; search()">Clear</button></p>
</form>

<div *ngIf="show_search_result"
     style="clear:both; width:920px; margin: 0 auto 0 auto;">
  <uhunt-problem-statistics
    [user]="user"
    [problem]="searched_problem"
    (hideChange)="set_show_search_result(false)">
  </uhunt-problem-statistics>
  <hr style="clear:both"><br>
</div>
