<uhunt-chat-box width="550" height="245" style="float:right; padding-left:25px"
   [user]="user">
</uhunt-chat-box>
<uhunt-logo active="statistics" [user]="user"></uhunt-logo>

<p>
  uHunt is a tool for helping
  <a target="_blank" href="http://uva.onlinejudge.org/index.php">
    UVa Online Judge</a> users to solve problems effectively.
  See the <a href="/">FAQ</a> for more info.
</p>

<p>
  To submit your solution, use
  <a target="_blank"
    href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=25&page=submit_problem">
    UVa Quick Submit
  </a>.
</p>

<p style="margin:0">Your UVa username:
  <uhunt-username-input></uhunt-username-input>
</p>

<uhunt-problem-search [user]="user"></uhunt-problem-search>

<uhunt-live-submissions [user]="user"></uhunt-live-submissions>

<hr style="clear:both" />

<uhunt-user-statistics [user]="user"></uhunt-user-statistics>

<hr style="clear:both" />

<uhunt-cp-book-exercises [user]="user"></uhunt-cp-book-exercises>

<hr style="clear:both" />

<uhunt-next-problems [user]="user"></uhunt-next-problems>

<hr style="clear:both" />

<uhunt-statistics-comparer [user]="user"></uhunt-statistics-comparer>

<br><br>
<hr style="clear:both" />

&copy; Felix Halim 2016
