<!-- 
-->
<uhunt-chat-box width="550" height="245" [user]="user"
  style="float:right; padding-left:25px">
</uhunt-chat-box>

<table cellspacing="0" cellpadding="0">
<tr>
  <td>
     <img border="0" src="images/uva.png" height="70" width="70"
          style="padding-right:15px">
  </td>
  <td>
    <span style="font-size:40px; font-family:Arial; font-weight:bold;">
      uHunt
    </span>
    <br>
    <span style="font-size:12px; font-family: verdana; font-style: italic; ">
      hunt problems that matter
    </span>
    <br>
  </td>
  <td align=center style="padding-left:0px;" width="140">
  </td>
</tr>
</table>

<p>
  uHunt is a complementary tool for
  <a target="_blank" href="http://uva.onlinejudge.org/index.php">
    UVa online-judge
  </a>
  that keeps statistics, provide selections of problems to solve, and exposes a
  <a href="/api" target="_blank">web API</a> for other web developers to build
  upon it. 
  See <a href="/">a brief history of uHunt</a>.
</p>

<p>
  To submit your solution, use
  <a target="_blank"
    href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=25&page=submit_problem">
    UVa Quick Submit
  </a>.
</p>

<p style="margin:0">Your UVa username:
  <uhunt-username-input></uhunt-username-input>
</p>

<uhunt-problem-search [user]="user"></uhunt-problem-search>

<uhunt-live-submissions [user]="user"></uhunt-live-submissions>

<hr style="clear:both" />

<uhunt-user-statistics [user]="user"></uhunt-user-statistics>

<hr style="clear:both" />

<uhunt-cp-book-exercises [user]="user"></uhunt-cp-book-exercises>

<hr style="clear:both" />

<uhunt-next-problems [user]="user"></uhunt-next-problems>

<hr style="clear:both" />

<uhunt-world-ranklist [user]="user"></uhunt-world-ranklist>

<hr style="clear:both" />

<uhunt-statistics-comparer [user]="user"></uhunt-statistics-comparer>

<hr style="clear:both" />

<uhunt-web-api></uhunt-web-api>

