<div>
  <h2 style="color:#A000A0" align="center">
    <i>{{user.name}} ({{user.username}})</i>
    <span style="font-weight:normal">statistics</span>
  </h2>

  <div style="float:left; width:240px; height:325px;">
    <canvas uhunt-progress-graph="Progress over the Years"
            [timestamps]="first_ac_sbt" [increments]="inc_amt"
            width="225" height="150"></canvas>
    <canvas uhunt-bar-graph=""
            [frequencies]="verdict_counts"
            width="225" height="150"></canvas>
  </div>

   <uhunt-last-submissions
    [user]="user"
    (world-ranklist)="set_show_last_subs(false)"
    [hidden]="!show_last_subs">
  </uhunt-last-submissions>
  <uhunt-world-ranklist
    [user]="user"
    (last-submissions)="set_show_last_subs(true)"
    (rank)="rank=$event"
    [hidden]="show_last_subs">
  </uhunt-world-ranklist>
  <p>
    <b style="color:blue">Solved</b> : <b>{{solved_problems.length}}</b>,
    <b style="color:blue">Submissions</b> : <b>{{user.submissions.length}}</b>
  </p>

  <div style="line-height:12px">
    <p style="font-size:10px; font-family:verdana; display:inline;">
      <a *ngFor="#p of solved_problems | slice:0:limit_solved_problems()"
          style="text-decoration:none;"
          class="{{p.getClass(user)}}"
          href="{{config.problem_pdf_link(p)}}"
          target="_blank">{{p.number}} </a>
    </p>
    <a [hidden]="!(show_solved == 'less' && solved_problems.length > 500)"
       style="text-decoration:none; color:blue; cursor:pointer;
              font-size:10px; font-family:verdana;"
       (click)="set_show_solved('more')">...more</a>
    <a [hidden]="(show_solved == 'less' && solved_problems.length > 500)"
       style="text-decoration:none; color:blue; cursor:pointer;
              font-size:10px; font-family:verdana;"
       (click)="set_show_solved('less')">&lt;&lt;less</a>
  </div>

  <div ng-show="tried_problems.length > 0">
    <p>
      <b style="color:blue">Tried but not yet solved</b> :
      <b>{{tried_problems.length}}</b>
    </p>
    <p style="font-size:10px; font-family:verdana">
      <a *ngFor="#p of tried_problems" 
          style="text-decoration:none;"
          class="{{p.getClass(user)}}"
          href="{{config.problem_pdf_link(p)}}"
          target="_blank">{{p.number}} </a>
    </p>
   </div>
</div>
