<h2 align="center">Web API - Build Your Own Tool</h2>

<p>I have published <a target="_blank" href="/api"><b>a Web API</b> for acquiring real-time UVa statistics</a>.
Please subscribe to 
<b><a target="_blank" href="https://groups.google.com/forum/?fromgroups#!forum/uhunt-api">uhunt-api mailing list</a></b> 
to receive updates and discuss about the API.
You are free to use the API to build your own statistical tools.
Let me know if you have build a great tool based on this API.
I will add your tool to the list below:
</p>

<ul>
  <li><a target="_new" href="https://github.com/felix-halim/uhunt-components"><b>uHunt Components</b></a> - demonstrates how the API can be used to build uHunt website (see series.html for building the training series).

  <li><a target="_new" href="https://sourceforge.net/projects/uvaarena/"><b>UVa Arena</b></a>
  by <a target="_new" href="/id/222248">সুদীপ্ত চন্দ্র (dipu_sust)</a>

  <li><a target="_new" href="http://umt.boocode.com"><b>UVa Management Tool</b></a> and 
  <a target="_new" href="https://chrome.google.com/webstore/detail/uva-quick-access-tool/ohmmnbcombfdichbnnlhkijfdmkgllhe"><b>Chrome Extension</b></a>
  by <a target="_new" href="/id/61126">Lâm Phan Việt</a>

  <li><a target="_new" href="https://github.com/lucastan/uva-node"><b>UVa Command Line Tool</b></a> 
  by <a target="_new" href="/id/64869">Bao Hong Tan</a>

  <li><a target="_new" href="http://guiame.medellin.unal.edu.co/semillero/ppc/"><b>Programming Practice Center</b></a>
  by <a target="_new" href="/id/90834">Andrés Felipe Pineda</a>

  <li>Windows Phone App:
  <a target="_new" href="http://www.windowsphone.com/en-us/store/app/uva-tools/68705694-3fa8-4b3a-83b3-18274060ccbc"><b>UVa Tools</b></a> by <a target="_new" href="/id/60671">Héctor Galindo</a>
  <li>Windows Phone App: 
  <a target="_new" href="http://www.windowsphone.com/en-us/store/app/uva-stats/102ea0da-e48e-42d8-a9eb-acb99b81a18c"><b>UVa Stats</b></a> by <a target="_new" href="/id/180414">Jonathon Simister</a>.

  <li>Android App:
  <a target="_new" href="https://play.google.com/store/apps/details?id=me.kaidul.uhunt"><b>uHunt</b></a> by <a target="_new" href="/id/135364">Kaidul Islam</a>.

  <li><a target="_new" href="https://github.com/kasparsklavins/Hunter"><b>uHunt wrapper for PHP</b></a> by <a target="_new" href="/id/343417">Kaspars</a>.

</ul>

<p>uHunt Web API Change Log:
<ul>
  <li>15 Feb 2015 - Added <a href="/api#past_contests" target="_blank">contests API</a> to list all contests and fetch all past submissions.
  <li>10 Apr 2014 - Added optional parameter to get the user submissions larger than {min-sid}.
  <li>25 Jul 2013 - Added problem status (0 = unavailable, 1 = normal, 2 = special judge).
  <li>21 May 2013 - Added subs-user-last to retrieve last submissions from a specific user.
  <li>18 May 2013 - Added Competitive Programming Book Exercises API.
  <li>20 Mar 2013<br>
  <a target="_blank" href="https://groups.google.com/forum/?fromgroups=#!topic/uhunt-api/y1X8_o57BwY">Breaking change to the Live Event if there is no event for ~1 minute</a>.<br>
  <a href="https://groups.google.com/forum/?fromgroups=#!topic/uhunt-api/VjrJ7UP1RfU">Added User Ranklist API to get users from a specific rank positions</a>.
  <li>14 Mar 2013 - Added new problem ranklist API.
</ul>
